@import './base.css';

html,
body,
#app {
  height: 100%;

  .v-btn {
    text-transform: capitalize;
  }
  fieldset{
    border: none;
  }

  .v-btn--disabled.v-btn--variant-elevated{
    opacity: .5;
  }

  font-family: 'Roboto', sans-serif;
}

.secondary-text {
  color: var(--color-text-secondary);
}
